.imgStyle{
    width: 400px;
    height: auto;
}

.all{
    border: 2px solid white;
    margin: 20px 20px 20px 20px;
    padding: 20px;
    border-radius: 20px;
    box-shadow: 0px 3px 20px rgba(170, 103, 49, 0.575);
}

.all h3{
    width: 100%;
    text-align: center;
}