.menu {
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: center;
    z-index: 999;
    gap: 20px;
    height: 100px;
    background-color: rgb(21, 90, 36);
    position: fixed;
}

.s1 {
    width: 100%;
    background-color: rgb(255, 255, 255);
    min-height: 60vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding-top: 120px;
}

.s8{
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-bottom: 100px;
}

.s2{
    border: 2px solid white;
    border-radius: 10%;
    padding: 50px;
    width: 500px;
    height: 400px;
}

.cop30 {
    width: 80%;
    height: auto;
}


.cop{
    display: flex;
    align-items: center;
    justify-content: center;
}

.tittle{
    width: 100%;
    text-align: center;
}

.fire{
    font-size: 200px;
}

.s8 p{
    opacity: 0.9;
    transition: all 200ms ease-in-out;
}

.s8 p:hover{
    cursor: pointer;
    opacity: 1;
    transform: scale(1.1);
   filter: drop-shadow(0px 3px 20px #ff3c01);
}

.escritaclique{
    text-decoration: underline;
}


@media (width <=760px) {
    .s1{
        padding-top: 130px;
        gap: 0;
        min-height: 10vh;
        height: auto;
    }

    .menu {
        width: 100%;
        height: auto;
        flex-wrap: wrap;
        padding: 20px;
    }

    .cop30 {
    width: 100%;
    height: auto;
}


    .s4 h2{
    font-size: 56px;
    letter-spacing: 10px;
}
}
